/* IMPOSTAZIONI GENERALI */
* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

header,
main,
footer {
    margin: 5%;
    box-shadow: 10px 5px 5px rgb(78, 77, 77);
}

body {
    background-image: url(../img/sfondo.png);
}

/* HEADER */
header>p {
    font-weight: bolder;
}

header>img {
    height: 10%;
    width: 50%;

}

h1 {
    font-weight: bolder;
    font-size: x-large;
}

#logo {
    width: 60%;
    height: 60%;
    margin: 20px;
}

header {
    height: 250px;
    width: 90%;
    background-image: linear-gradient(to bottom, #026d87, #006c90, #006b98, #006aa0, #1467a6);
    text-align: center;
}

header {
    color: white;
}

header>div>p {
    margin: auto 10px;
}



nav {
    margin: 10%;
}

nav>p {
    margin: 10px 10px;
}

/* MAIN */
main ul,
ol {
    margin-left: 2em;
}

iframe {
    width: 360px;
    height: 200px;
    border-radius: 10px;

    overflow: hidden;

}

li {
    padding: 10px;
}

main {
    background-color: white;
}

.graybg {
    background-color: rgb(183, 183, 183);
}

/* ELEMENTI NEL MAIN - ARTICLE */
.articoli {
    margin: 20px auto;
    padding: 7px;
}

.articoli>p:last-child {
    text-align: right;
}

/* TABELLE */

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
footer {
    width: 400px;
    height: 120px;
    color: white;
    text-align: center;
    background: rgb(2, 0, 36);
    background: linear-gradient(57deg, rgba(2, 0, 36, 1) 0%, rgba(11, 84, 80, 1) 92%);
}

footer>p:first-child {
    padding: 15px;
}

footer>p footer a:link {
    color: pink;
}